
<h1>About</h1>
<p>
	<%= link_to "Kim Jong-un","http://en.wikipedia.org/wiki/Kim_Jong-un" %>
	is the savior of the Universe


	<%= link_to "This", "http://reddit.com/r/pyongyang" %>
	is where the chosen one passes his words to his disciples.
</p>

