<div class="hero-unit">
<h1>Welcome To My World!</h1>
  
  <p>You've found the home page of the 
	<%= link_to "Internet", "http://www.reddit.com" %> 
 </p>

<p>
	<%= link_to "Sign Up Never!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

